html {
    scroll-behavior: smooth;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Merriweather' Arial, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 60px;
    padding-left: 70px;
    margin-top: 20px;
}

h2 {
    font-size: 40px;
    margin: 0;
    padding-left: 70px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 23px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    min-height: fit-content;
    /* min-height: 15px; */
}

.logo {
    padding-left: 70px;
}

.navigation-list {
    display: flex;
    list-style: none;
    font-size: 25px;
    margin: 0;
    padding-right: 25px;
}

.navigation-list-item {
    padding: 30px;
}

.navigation-list-item-link {
    text-decoration: none;
    color: #000;
}

.navigation-languege-button {
    font-size: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.aboute {
    background: url(/Флагман/img/BANNER.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 460px;
    margin-bottom: 30px;
}

.aboute-header {
    color: #fff;
    padding-top: 40px;
}

.aboute-text {
    padding-left: 70px;
    width: 50%;
    line-height: 30px;
}

.aboute-button_join {
    width: 250px;
    height: 50px;
    background-color: #f3e03a;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 70px;
}

.aboute-fund {
    display: flex;
}

.aboute-funt-header {
    color: #04d1d1;
}

.aboute-fund-text {
    padding-left: 70px;
    width: 70%;
    line-height: 30px;
}

.aboute-fund-logo {
    width: 204px;
    height: 143px;
    /* padding-top: 30px; */
    padding-right: 70px;
}

.aboute-fund_join {
    width: 200px;
    height: 40px;
    background-color: #04d1d1;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.partners {
    background-color: #f3e03a;
    margin-top: 40px;

}

.partners-header{
    padding-top: 30px;
}

.partners-text {
    padding-left: 70px;
}

.partners-list {
    display: flex;
    justify-content:space-around;
    background-color: #fff;
    list-style: none;
}

.partners-list-item {
padding-top: 20px;
padding-bottom: 15px;
}

.partners-list-item-img {
width: 70px;
height: 70px;
}

.partners-slogan {
    margin: 0;
    padding-bottom: 20px;
    padding-left: 70px;
}

.projects {
    background-color: #ebecec;
    padding-top: 30px;
}

.projects-list {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
}

.projects-list-item {
    text-align: center;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 10%;
    list-style: none;
    width: 250px;
}

.projects-list-item-img {
    width: 55px;
    height: 50px;
}

.projects-slogan {
    padding-left: 70px;
    padding-bottom: 20px;
}

.documets {

}

.requisites {
    background-color: #f3e03a;
}

.requisites-text  {
    padding-left: 70px;
}

.requisites-list {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0;
}

.requisites-list-item {
    list-style: none;
    text-align: center;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 10%;
}

.requisites-list-item-img {
    width: 50px;
    height: 50px;
}

.contacts {
    background-color: #04d1d1;
    padding-top: 20px;
}

.contacts-text {
    padding-left: 70px;
}

.messenger-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    padding-top: 20px;
}

.messenger-list-item img {
width: 120px;
height: 120px;
}

.contacts-phone {
    display: flex;
}

.contacts-phone img {
    width: 270px;
    height: 225px;
    padding-left: 190px;
    padding-top: 40px;
    padding-bottom: 70px;
}


.contacts-list {
    list-style: none;
    padding-top: 40px;
    padding-left: 300px;
    font-size: 20px;
    line-height: 40px;
}

.contacts-list img {
    width: 29px;
    height: 26px;
    padding: 0;
    margin-right: 10px;
}